<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color: #c5c6d8;
        }
        .container{
            width:700px;
            height:300px;
            
            background-color: white;
            margin-top: 100px;
            margin-left: 410px;
            margin-right: 300px;
            box-shadow: 10px 15px 10px #3e3d53;
            
        }
        #submit2{
            background-color:#3e3d53;
	        color: honeydew;
	        cursor: pointer;
	   font-size: 20px;
	   width: 40%;
       float: right;
	   padding: 14px 20px;
	   border: none;
	   border-radius: 4px;

        }
        #submit{
            background-color:#3e3d53;
	        color: honeydew;
	        cursor: pointer;
	   font-size: 20px;
	   width: 40%;
       float: left;
	   padding: 14px 20px;
	   border: none;
	   border-radius: 4px;


        }
    </style>
</head>
<body>
    <div class = "container">
        <h1 style="text-align: center;font-size: 30px;">You can take test only one time </h1>
        <p style="text-align: center; color:#3e3d53;font-size: 30px;"> You can't rewrite this test thanks for coperation</p>
        <br><br><br><br>
        <form action = '/finalresult' method ='POST'>
            <input type='submit'  id = "submit2"  value ="Overall Result" >
        </form>
        <form action = '/back2' method ='POST'>
            <input type='submit'  id = "submit"  value ='Home page' >
        </form><br>
        
        </div>
    
    
</body>
</html>