<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/consultancy/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b> "You are surrounded by simple, obvious solutions
                 that can dramatically increase your income, power, influence and success. The problem is, you just don’t see them.”</b>
            If ur dreaming to try consultancy as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>In giving presentations, use the 10/20/30 rule….use only 10 slides, take 20 minutes maximum, 
                and use at least 30-point fonts.
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color:#3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='http://www.iconsulting.org.uk/purchasing-consultancy/why-use-an-ic-consultant/what-is-consulting'>What is consulting</a></li><br>
            <li><a href ="https://www.quora.com/What-is-consultancy"> introduction</a></li><br>
            <li><a href ="https://www.accenture.com/us-en/blogs/blogs-careers/is-a-career-in-consulting-the-right-choice">how is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://blog.hubspot.com/sales/how-to-become-a-consultant">How to start consulting</a></li><br>
            <li><a href ="http://brentpurves.com/what-does-a-marketing-consultant-do/"> Marketing consultant</a></li><br>
            <li><a href="https://www.accountingdepartment.com/blog/bid/365597/accounting-consultants-what-does-the-term-really-mean">Accounting consultant</a></li><br>
            <li><a href="https://en.wikipedia.org/wiki/Information_technology_consulting">Technology consultant</a></li><br>
            <li><a href = "https://www.bestsampleresume.com/job-descriptions/consultant/legal-consultant-responsibilities.html"> Legal consultant</a></li><br>
            <li><a href = "https://www.business2community.com/public-relations/important-points-about-pr-consultancy-0125021">Public relations consultant</a></li><br>
            <li><a href = "https://en.wikipedia.org/wiki/Business_consultant">Business consultant</a></li>
        </ul><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.consulting.com/types-of-consulting-careers'>Carrer Options I </a></li><br>
            
            <li><a href="https://igotanoffer.com/blogs/mckinsey-case-interview-blog/consulting-career-path"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.consultantsmind.com/skills/">tips and tools</a></li>
        </ul>

    </div>
    
    
    
    
</body>
</html>