<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
        .container4{
            background-color: white;
        }
       
        
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/creative/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"Every secret of a writer's soul, every experience of his life, every quality of his mind, is written 
            large in his works".</b>If ur dreaming to try writting as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>Start writting, no matter what. The water does not flow
                until the faucet is turned on
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://en.wikipedia.org/wiki/Professional_writing'>What is Professional_writing</a></li><br>
            <li><a href ="https://study.com/academy/lesson/what-is-professional-writing-definition-lesson-quiz.html"> Video on introduction</a></li><br>
            <li><a href ="https://www.quora.com/What-is-writing-like-as-a-profession">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color:#3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="http://authornews.penguinrandomhouse.com/8-great-ways-to-start-the-writing-process/">How to start writting</a></li><br>
            <li><a href ="https://thewritepractice.com/write-story/"> Story writting</a></li><br>
            <li><a href="https://self-publishingschool.com/how-to-write-a-poem/">Poem writting</a></li><br>
            <li><a href="https://www.wordstream.com/blog/ws/2015/02/09/how-to-write-a-blog-post">Blog writting</a></li><br>
            <li><a href = "https://medium.com/the-mission/six-rules-for-writing-good-articles-94f95be2ba3c"> article writting</a></li>
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.hongkiat.com/blog/types-of-writing/'>Carrer Options I </a></li><br>
            <li><a href="https://www.collegedekho.com/careers/writer"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://writingcenter.unc.edu/tips-and-tools/conclusions/">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
    
    
</body>
</html>