<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/fashion/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"Anyone can get dressed up and glamorous, but it is how people dress in their days off that are the most intriguing." 
           </b>If ur dreaming to try fashion as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>"How can you live the high life if you do not wear the high heels?"
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.quora.com/What-is-the-fashion-industry'>What is fashion industry</a></li><br>
            
            <li><a href ="https://www.ifaparis.com/career/career-in-fashion#:~:text=Depending%20of%20the%20size%20and,personal%20creative%20skills%20to%20them.">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.drapersjobs.com/news/top-10-careers-fashion-industry">types</a></li><br>
            <li><a href ="https://en.wikipedia.org/wiki/Wardrobe_stylist"> Wardrobe stylist</a></li><br>
            <li><a href="https://targetjobs.co.uk/careers-advice/job-descriptions/278865-retail-buyer-job-description">retail buyer</a></li><br>
            <li><a href="https://fashionunited.uk/news/fashion/fashion-careers-what-exactly-does-a-garment-technologist-do/2019032942447">garment technologist</a></li><br>
            <li><a href = "https://en.wikipedia.org/wiki/Merchandising">merchandisers</a></li>
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.indeed.com/career-advice/finding-a-job/fashion-industry-careers">Carrer Options I </a></li><br>
            <li><a href="https://www.mindler.com/blog/careers-in-fashion-in-india/"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.vault.com/blogs/job-search/5-tips-for-breaking-into-the-fashion-industry-at-any-age">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>