<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/historian/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"I am what time, circumstance, history, have made of me, certainly, but I am also, much more than that. 
                So are we all. James Baldwin".

            </b>If ur dreaming to try historian as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>"A small body of determined spirits fired by an unquenchable faith in 
                their mission can alter the course of history. Mahatma Gandhi"
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://en.wikipedia.org/wiki/Historian'>Who is historian</a></li><br>
            
            <li><a href ="https://www.historians.org/jobs-and-professional-development/career-resources/careers-for-students-of-history/careers-for-students-of-history-introduction">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://study.com/articles/Research_Historian_Job_Description_Duties_and_Requirements.html#:~:text=Research%20historians%20study%20a%20range,the%20overall%20story%20of%20humanity.">Research Historian</a></li><br>
            <li><a href ="https://study.com/articles/Become_a_Museum_Curator_Step-by-Step_Career_Guide.html"> Museum Curator</a></li><br>
            <li><a href="https://en.wikipedia.org/wiki/Archivist">Archivist</a></li><br>
            
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.indiatoday.in/education-today/jobs-and-careers/story/8-interesting-career-options-if-you-have-a-history-degree-1263324-2018-06-18'>Carrer Options I </a></li><br>
            
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://writingcenter.unc.edu/tips-and-tools/conclusions/">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>