<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/marketing/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>“Content marketing is more than a buzzword. It is the hottest trend in marketing because it is the biggest
             gap between what buyers want and brands produce.”.</b>
             If ur dreaming to try marketing as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>"Marketing is telling the world you’re a rock star. Content Marketing is
                 showing the world you are one."
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #420D09 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.ama.org/the-definition-of-marketing-what-is-marketing/'>What is marketing</a></li><br>
            
            <li><a href ="https://www.questteam.com/resources/article.html?id=hammond_article_6">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://neuvoo.ca/neuvooPedia/en/marketing-analyst/">Marketing Analyst.</a></li><br>
            <li><a href ="https://sproutsocial.com/glossary/social-media-manager/">Social Media Manager.</a></li><br>
            <li><a href="https://www.campaignmonitor.com/resources/knowledge-base/what-does-an-email-marketing-manager-do/">email marketing manager</a></li><br>
            <li><a href="https://hbr.org/2017/12/what-it-takes-to-become-a-great-product-manager">Product Manager.</a></li><br>
            
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.thebalancesmb.com/exploring-careers-in-marketing-2294887'>Carrer Options I </a></li><br>
            <li><a href="https://gettinggrowth.com/career-in-marketing/"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://sharpspring.com/blog/top-10-marketing-tips-for-2019/">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>