<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/medico/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"Formerly,when religion was strong and science weak ,men mistook magic for medicine:now,when science is strong and religion
                weak,men mistake medicine for magic"</b>If ur dreaming to try medical as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>"The art of medicine consists in amusing the patient while nature 
                cures the disease."</b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color:#3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://en.wikipedia.org/wiki/Medicine'>What is medicine world</a></li><br>
            
            <li><a href ="https://www.careerexplorer.com/careers/doctor/">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color:#3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://en.wikipedia.org/wiki/Pulmonology">Pulmonology</a></li><br>
            <li><a href ="https://en.wikipedia.org/wiki/Neurology">Neurology</a></li><br>
            <li><a href="https://en.wikipedia.org/wiki/Gynaecology">Gynaecology</a></li><br>
            <li><a href="https://en.wikipedia.org/wiki/Cardiology">Cardiology</a></li><br>
            <li><a href = "https://en.wikipedia.org/wiki/Dentist">Dentist</a></li>
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.ophthalmologytimes.com/view/5-reasons-why-physicians-still-have-best-profession'>Carrer Options I </a></li><br>
            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1124230/"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.adsc.com/blog/10-success-tips-from-experienced-doctors">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>