<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/robotics/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"if robots are to clean our homes,they'll have to do it better than a person ."</b>If ur dreaming to try robotics as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>With regard to robots , in the early days of robots people said ,'Oh,let's build a robot'
                and what's  the first thought ? You make a robot look like a human and do human things.
                That's so 1950s.We are so past that.
            </b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://en.wikipedia.org/wiki/Robotics'>What is Robotics</a></li><br>
            
            <li><a href ="https://www.gradschoolhub.com/faqs/what-types-of-jobs-are-in-robotics/">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.careerexplorer.com/careers/sales-engineer/#:~:text=A%20sales%20engineer%20is%20someone,that%20make%20these%20products%20work.">sales engineer</a></li><br>
            <li><a href ="https://www.careerexplorer.com/careers/robotics-engineer/">Robotics Engineer</a></li><br>
            <li><a href="https://www.rasmussen.edu/degrees/technology/blog/what-does-software-developer-do/">software developer</a></li><br>
            <li><a href="https://lensa.com/robotics-account-manager-jobs/knoxville/jd/1018ebd9394f401b8ab452a473b3dd51#:~:text=Summary%3A%20The%20Robot%20Specialist%20is,achieve%20a">Robotics Account Manager</a></li><br>
            <li><a href = "https://www.sciencebuddies.org/science-engineering-careers/engineering/robotics-technician">technician</a></li>
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.mindler.com/careerlibrary/Engineering/robotics-as-a-career-in-india'>Carrer Options I </a></li><br>
            <li><a href="https://www.sarvgyan.com/courses/engineering/robotics-engineering"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.robotshop.com/community/blog/show/10-tips-for-getting-started-with-robotics">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>