<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c5c6d8 ;
        }
        #button{
            background-color:#3e3d53;
	        color: honeydew;
	        font-size: 20px;
	        cursor: pointer;
	   
	        width: 17%;
	  
	        padding: 14px 20px;
	        margin: 8px 0;
	        border: none;
	        border-radius: 4px;
	   
        }
        .container{
            
            height: 600px;
            margin-left: 300px;
            margin-right: 420px;
            text-align: center;
        }
        .container2{
            
            height:1000px;
            float:right;
            margin-top: -700px;
            width: 400px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
            
        }
        .container3{
            
            height:300px;
            margin-top: 300px;
            border-style: solid;
            border-width: 3px 10px;
            border-color: #3e3d53;
        }
        #submit2{
            background-color:#3e3d53;
	   color: honeydew;
	   
	   cursor: pointer;
	   font-size: 20px;
	   width: 70%;
	  
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   border-radius: 4px;
       margin-top: 100px;
        }
        p{
            font-size: 25px;
        }
        ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <a href = "homepage.html"><button id ='button'>Back</button></a>
    <div class = 'container'> 
        <form action = '/socialwork/instruction' method ='POST'>
            <input type='submit'  id = "submit2"  value ='Take A Test' >
        </form><br>
        <p>
            <b>"Never, never, be afraid to do what's right, especially if the well-being of a person or animal is at stake. Society's punishments are small
                 compared to the wounds we inflict on our soul when we look the other way".</b>If ur dreaming to try writting as your profession then you can start with our basic 
            test. To complete the test make sure you once go through the materials given by us . This material is basic 
            and designed to give a glimpse of this feild.
        </p>
        <p>
            <b>You must not lose faith in humanity. Humanity is an ocean; if a few drops of the ocean are dirty, 
                the ocean does not become dirty.</b>
        </p>
    </div>
    <div class = 'container2'>
        <h1 style="background-color: #3e3d53 ; color: white; text-align: center;">Courseware</h1>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Introduction</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://en.wikipedia.org/wiki/Social_work'>What is  Social_work</a></li><br>
            
            <li><a href ="https://socialwork.ubc.ca/prospective-students/about-the-profession-of-social-work/#:~:text=Social%20work%20is%20a%20practice,are%20central%20to%20social%20work.">How is it as a profession</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Detials</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.csr.com.au/investor-relations-and-news/corporate-governance/board-charter">Director of Corporate Social Responsibility</a></li><br>
            <li><a href ="https://www.socialworkdegreeguide.com/faq/how-do-i-become-a-social-work-professor/"> Professor of Social Work</a></li><br>
            <li><a href="https://www.boardeffect.com/blog/executive-director-non-profit-organization/">Executive Director of a Non Profit Organization</a></li><br>
            <li><a href="https://www.waikato.ac.nz/study/subjects/social-science-research">Social Science Researcher</a></li><br>
            <li><a href = "https://www.lyon-county.org/DocumentCenter/View/7670/Community-Development-Director#:~:text=Directs%2C%20manages%20and%20coordinates%20the,natural%20resource">Community Development Director</a></li>
        </ul><br><br><br><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Scope</h3>
        <ul style="list-style-type: disc;">
            <li><a href='https://www.humanservicesedu.org/social-work-careers.html'>Carrer Options I </a></li><br>
            <li><a href="https://www.socialworkguide.org/careers/"> Carrer Options II</a></li>
        </ul><br><br>
        <h3 style="color: white; text-align: center;background-color: #3e3d53 ;">Conclusion</h3>
        <ul style="list-style-type: disc;">
            <li><a href="https://www.socialworkdegreeguide.com/lists/5-reasons-to-consider-a-career-in-social-work/">tips and tools</a></li>
        </ul>


    
    </div>
    
    
    
</body>
</html>